<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.micol.notice.service.NoticeMapper">  <!-- co/micol/notice/service/NoticeMapper.xml 이 형태로 mybatis-config에 <mapper resource=""> 안에 넣어주기 -->

	<!-- mybatis에서 el표현식은 #{} -->

	<!-- id: mybatis 사용을 위한 인터페이스의 메소드명과 일치 -->
	<!-- parameterType: 메소드의 매개변수  -->
	<!-- resultType: 돌려줄 타입, select는 반드시 필요하나 insert나 update나 delete는 int로 돌려주므로 필요 없음 -->
	<select id="noticeSelectList" resultType="co.micol.notice.service.NoticeVO">  <!-- noticeVO라는 타입의 리스트를 받으므로 NoticeVO -->
		SELECT * FROM NOTICE ORDER BY NOTICE_ID DESC
	</select>		
	
	<select id="noticeSelect" 
		parameterType = "co.micol.notice.service.NoticeVO"    
		resultType="co.micol.notice.service.NoticeVO">
		SELECT * FROM NOTICE
		WHERE NOTICE_ID = #{noticeId}
	</select>
	
	<insert id="noticeInsert" parameterType = "co.micol.notice.service.NoticeVO">
		<selectKey keyProperty="noticeId" resultType="int" order="BEFORE">  <!-- before: insert 구문 시행전에 동작 -->
			SELECT NVL(MAX(NOTICE_ID),0)+1 AS noticeId FROM NOTICE
		</selectKey>
		INSERT INTO NOTICE
		VALUES(#{noticeId}, #{noticeWriter}, #{noticeTitle}, #{noticeSubject}, #{noticeWdate}, 0)
	</insert>
	
	<!-- parameterType은 int 하나, String 하나 이런 값이면 반드시 넣어야하고, VO객체는 안넣어도 상관없음 -->
	<update id="noticeUpdate" parameterType = "co.micol.notice.service.NoticeVO">
		UPDATE NOTICE
		<set> 
			<if test="noticeWriter != null">NOTICE_WRITER = #{noticeWriter},</if>
			<if test="noticeTitle != null">NOTICE_TITLE = #{noticeTitle},</if>
			<if test="noticeSubject != null">NOTICE_SUBJECT = #{noticeSubject},</if>
			<if test="noticeWdate != null">NOTICE_WDATE = #{noticeWdate}</if>
		</set>
		WHERE NOTICE_ID = #{noticeId}
	</update>
	
	<delete id="noticeDelete" parameterType = "co.micol.notice.service.NoticeVO">
		DELETE FROM NOTICE
		WHERE NOTICE_ID = #{noticeId}
	</delete>
	
</mapper>