<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.micol.notice.member.service.MemberMapper">
	<select id="memberSelectList" resultType="co.micol.notice.member.service.MemberVO">
		SELECT * FROM MEMBER
	</select>
	
	<select id="memberSelect" resultType="co.micol.notice.member.service.MemberVO">
		SELECT * FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
		
<!-- 	memberId만 들어오면 위에까지만 쿼리 실행.  -->
<!-- 	memberId와 memberPassword 같이 들어오면 아래 if문 실행  -->
<!-- 	그럼 맨 아래 <select id="memberLogin"> sql이 필요없어짐 -->
		<if test="memberPassword != null">
			AND MEMBER_PASSWORD = #{memberPassword}
		</if>		
	</select>
	
	<insert id="memberInsert">
		INSERT INTO MEMBER
		VALUES (#{memberId}, #{memberPassword}, #{memberName}, #{memberAge}, #{memberTel}, #{memberGender})
	</insert>
	
	<update id="memberUpdate">
	</update>
	
	<delete id="memberDelete">
	</delete>
	
	<select id="memberLogin" resultType="co.micol.notice.member.service.MemberVO">
		SELECT * FROM MEMBER
		WHERE MEMBER_ID = #{memberId} AND MEMBER_PASSWORD = #{memberPassword}
	</select>
</mapper>